<!DOCTYPE html>
<html>
<head>
  <!-- Meta Tags / Title -->
  <title>BoomRoom NODE EDITION</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet"  href="stylesheets/style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load font awesome -->

  <!-- Javascript Libraries -->
  <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
  <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
  <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>
  <script type="text/javascript" src='javascripts/libraries/marionette.js'></script>
  <script type="text/javascript" src='javascripts/libraries/react.js'></script>
</head>
<body>
</body>
</html>