<!DOCTYPE html>
<html>
<head>
  <!-- Meta Tags / Title -->
  <title>Mitul Patel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">

  <!-- Stylesheets -->
  <link rel="stylesheet"  href="stylesheets/style.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load font awesome -->

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

  <!-- Javascript Libraries -->
  <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
  <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
  <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>
  <script type="text/javascript" src='javascripts/libraries/marionette.js'></script>
  <script type="text/javascript" src='javascripts/libraries/react.js'></script>
</head>
<body>

</body>

<!-- Backbone Files -->
<!-- Stand Alone Files -->
<script type="text/javascript" src="javascripts/backbone/app.js"></script>
<script type="text/javascript" src="javascripts/backbone/AppRouter.js"></script>


<!-- Models -->


<!-- Collections -->


<!-- Views -->
<script type="text/javascript" src="javascripts/backbone/views/HomeView.js"></script>
<script type="text/javascript" src="javascripts/backbone/views/AboutView.js"></script>
<script type="text/javascript" src="javascripts/backbone/views/ResumeView.js"></script>

</html>




